<div class="content-wrapper">

  <br>

  <div style="padding-left: 10px;">

    <div class="row">

      <div class="col-md-2">

        <label for="aboutName">Name</label>

      </div>

      <div class="col-md-10">

        <span id="aboutName">
          Game of Sins
        </span>

      </div>

    </div>

    <div class="row">

      <div class="col-md-2">

        <label for="aboutVersion">Version</label>

      </div>

      <div class="col-md-10">

        <span id="aboutVersion">
          1.0.0
        </span>

      </div>

    </div>

    <div class="row">

      <div class="col-md-2">

        <label for="aboutDescription">Description</label>

      </div>

      <div class="col-md-10">

        <span id="aboutDescription">
          GDPR Compliant Black List
        </span>

      </div>

    </div>

    <div class="row">

      <div class="col-md-2">

        <label for="aboutCopyright">Copyright</label>

      </div>

      <div class="col-md-10">

        <span id="aboutCopyright">
          <em>IrinelSoft&copy; 2018</em>
        </span>

      </div>

    </div>


  </div>

</div>
